{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "ignore": [
        "**/__mocks__",
        "**/__tests__",
        "**/*.test.js"
    ],
    "plugins": [
        ["minify-replace",
            {
                "replacements": [
                    {
                        "identifierName": "__DEV__",
                        "replacement": {
                            "type": "booleanLiteral",
                            "value": true
                        }
                    }
                ]
            }
        ],
        ["@babel/plugin-transform-react-jsx",
            {
                "throwIfNamespace": false
            }
        ],        
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        ["babel-plugin-fbt/index.js",
            {
                "fbtEnumManifest": "",
            }
        ],
        "babel-plugin-fbt-runtime/index.js",        
    ]
}