{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/plugin-transform-react-jsx",
            {
                "throwIfNamespace": false
            }
        ],
        ["minify-replace",
            {"replacements": [{
                "identifierName": "__DEV__",
                "replacement": {
                    "type": "booleanLiteral",
                    "value": true
                }}
            ]}
        ]
    ]
}